/*====================== CESTA ======================*/
.cest {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 24px;
    height: auto;
    background: #ffffff;
}

.cest h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #2A5B45;
}

.cest .cest-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    height: auto;
}

.cest .cest-container .products {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    gap: 24px;
    width: 792px;
    height: auto;
}

.cest .cest-container .products h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

/* AÑADIR CLASE EN JS */
.cest .cest-container .products .product {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
    border-bottom: 2px solid #E3DED7;
    height: 79.66px;
    margin-bottom: 20px;

}

.cest .cest-container .products .product:last-child {
    border-bottom: none;
}


.cest .cest-container .products .product .counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100px;
    height: 55.66px;
}

.cest .cest-container .products .product .counter button {
    width: 24px;
    height: 24px;
    border: none;
    background: none;
}

/* .cest .cest-container .products .product .counter p {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #2A5B45;
} */

.cest .cest-container .products .product .img-product {
    width: 55.66px;
    height: 55.66px;
}

.cest .cest-container .products .product .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    width: 486.34px;
    height: 36px;
}

.cest .cest-container .products .product .details .product-name {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.cest .cest-container .products .product .details .product-info {
    font-size: 14px;
    line-height: 16px;
}

/* Fin añadir clases en JS*/

/*========================= ENVIOS =========================*/
.cest .cest-container .products .shipping {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    width: 776px;
    height: 36px;
}

.cest .cest-container .products .frame {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #E3DED7;
}

.cest .cest-container .products .shipping .radio-container {
    width: 20px;
    height: 20px;
    border: 2px solid #2A5B45;
    border-radius: 50%;
    position: relative;
}

.cest .cest-container .products .shipping .radio-container input {
    appearance: none;
    border: 1px solid #555555;
    border-radius: 50%;
    width: 16.5px;
    height: 16.5px;
}

.cest .cest-container .products .shipping .radio-container input[type='radio']:checked {
    background-color: #2A5B45;
    border-color: #fff;
}

.cest .cest-container .products .shipping label {
    margin-left: 5px;
    width: 657px;
}

.cest .cest-container .products .shipping label .ship {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.cest .cest-container .products .shipping label .standard {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}


.total {
    background: #F7F5F3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;
    width: 384px;
    height: 290px;
}

.total .total-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 336px;
    height: 176px;
}

.total .total-details .frame {
    display: block;
    width: 100%;
    border: 1px solid #E3DED7;
}

.total .total-details h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.total .total-details .cest-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    width: 336px;
    height: 16px;
}

.total .total-details .cest3-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    width: 336px;
    height: 40px;
    font-weight: 600;
}

.total .total-details .cest3-details #frame-cost {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.total .total-details  .default-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #515051;
    text-align: end;
    width: 100%;
}

#price-productJs, #price-sendJs {
    font-weight: bold;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    width: 310px;
    height: 40px;
}

.still-buying {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
    gap: 8px;
    width: 165px;
    height: 40px;
    border-radius: 4px;
    border: none;
    color: #2A5B45;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    background: #F7F5F3;
}

.checkout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
    gap: 8px;
    width: 129px;
    height: 40px;
    background: #2A5B45;
    border-radius: 4px;
    color: #ffffff;
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.cest-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1280px;
    background: #2B2A2B;
    height: 40px;
}

.cest-copyright p {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
}

.cestEmpty {
    opacity: .4;
}